<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <th:block th:replace="fragments/header :: header"></th:block>
    <script defer th:src="@{/javascript/delete_account.js}"></script>
</head>
<body>

<div class="d-flex m-5 align-content-center justify-content-center">
    <div>
        <h3>DELETE Account?</h3>

        <h5>Are you sure?</h5>
        <div>
            <label class="form-label"></label>
            <div id="delete_error" class="text-danger small"></div>
        </div>
        <br>
        <div class="d-flex p-2 bg-info rounded-2 justify-content-center align-content-center">
            <button onclick="deleteYes()" class="rounded-3 shadow">YES</button>
            <button onclick="deleteNo()" class="rounded-3 shadow">NO</button>
        </div>

    </div>
</div>

</body>
</html>