<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <!-- scripts -->
    <script defer th:src="@{/javascript/delete_account.js}"></script>
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

</head>
<body>

<div class="d-flex m-5 align-content-center justify-content-center">
    <div>
        <h3>DELETE Account?</h3>

        <h5>Are you sure?</h5>
        <div>
            <label class="form-label"></label>
            <div id="delete_error" class="text-danger small"></div>
        </div>
        <br>
        <div class="d-flex p-2 bg-info rounded-2 justify-content-center align-content-center">
            <button onclick="deleteYes()" class="rounded-3 shadow">YES</button>
            <button onclick="deleteNo()" class="rounded-3 shadow">NO</button>
        </div>

    </div>
</div>

</body>
</html>