<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>My Page</title>

        <link
                href="/vendor/bootstrap.min.css"
                rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/my_page_style.css"/>
        <th:block th:replace="fragments/header :: header"></th:block>
    </head>
<body>
<div class="content">
    <h1>My Page</h1>

    <h2>Customer information:</h2>
    <p><strong>Firstname:</strong> [[${customer.firstname}]]</p>
    <p><strong>Lastname:</strong> [[${customer.lastname}]]</p>
    <p><strong>Email:</strong> [[${customer.email}]]</p>
    <p><strong>Telefon:</strong> [[${customer.phoneNumber}]]</p>

    <a href="/updateCustomer">update account</a>
    <a href="/customer/reservations">my reservations</a>
    <a th:href="@{/deleteAccount}">Delete Account</a>
    <a href="/logout">logout</a>

</div>

</body>
</html>