<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My reservations</title>
    <link
            th:href="@{/vendor/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/my_reservation.css}"/>
    <th:block th:replace="fragments/header :: header"></th:block>
    <script defer th:src="@{/javascript/my_reservation.js}"></script>
</head>
<body>
<h1>My reservations</h1>

<table id="reservationTable" class="table table-striped">
    <thead>
    <tr>
        <th>Check in</th>
        <th>Check out</th>
        <th>Room</th>
        <th>Extra bed</th>
        <th>Total cost</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>



</body>
</html>