<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/update_page_style.css">
    <!-- scripts -->
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

</head>
<body>

<div class="update-page">
    <h1>Uppdatera konto</h1>

    <form action="/api/customers/update" method="post">

        <label>Email:</label>
        <input type="email" name="email" placeholder="Ny email">

        <label>Telefonnummer:</label>
        <input type="text" name="phoneNumber" placeholder="Nytt telefonnummer">

        <label>Nytt lösenord:</label>
        <input type="password" name="password" placeholder="Nytt lösenord">

        <button type="submit" class="btn">Update</button>
    </form>

    <a href="/mypage" class="btn-secondary">Tillbaka</a>
</div>

</body>
</html>
