<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/update_customer_style.css">
    <link rel="stylesheet" th:href="@{/css/interaction_button.css}">
    <!-- scripts -->
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

</head>
<body>

<div class="update-page">
    <h1>Update Account</h1>

    <form action="/api/customers/update" method="post">

        <label>Email</label>
        <input type="email" name="email" placeholder="New email">

        <label>Phone Number</label>
        <input type="text" name="phoneNumber" placeholder="New phone number">

        <label>Firstname</label>
        <input type="text" name="firstname" placeholder="New firstname">

        <label>Lastname</label>
        <input type="text" name="lastname" placeholder="New lastname">

        <label>Password</label>
        <input type="password" name="password" placeholder="New password">

        <button type="submit" class="btn interaction-button">Update</button>
    </form>

    <a href="/mypage" class="btn-secondary interaction-button">Back</a>
</div>

</body>
</html>
